# QGIS Flatpak Environment Variables
QGIS_FLATPAK_ROOT=/var/lib/flatpak/app/org.qgis.qgis/current/active/files
PATH=${QGIS_FLATPAK_ROOT}/bin:${PATH}
LD_LIBRARY_PATH=/var/lib/flatpak/app/org.qgis.qgis/current/active/files/lib:/var/lib/flatpak/app/org.qgis.qgis/current/active/files/grass84/lib:${LD_LIBRARY_PATH}
PROJ_LIB=/var/lib/flatpak/app/org.qgis.qgis/current/active/files/share/proj
PYTHONPATH=/var/lib/flatpak/app/org.qgis.qgis/current/active/files/lib/python/site-packages:/usr/lib/python/site-packages:/var/lib/flatpak/app/org.qgis.qgis/current/active/files/share/qgis/python:/var/lib/flatpak/app/org.qgis.qgis/current/active/files/share/qgis/python/plugins:${PYTHONPATH}
QGIS_PREFIX_PATH=/var/lib/flatpak/app/org.qgis.qgis/current/active/files
GRASS_PREFIX=/var/lib/flatpak/app/org.qgis.qgis/current/active/files/grass84
GDAL_DATA=/var/lib/flatpak/app/org.qgis.qgis/current/active/files/share/gdal
GDAL_DRIVER_PATH=/var/lib/flatpak/app/org.qgis.qgis/current/active/files/lib/gdalplugins
QT_PLUGIN_PATH=/var/lib/flatpak/app/org.qgis.qgis/current/active/files/qgis/qtplugins
